# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media
staticfiles
serviceAccountKey.json

# Environments
.env
venv/
env/
.venv/
.idea/

# OS-specific files
.DS_Store

# IDE settings
.vscode/

#Other
get_token.py
